<html>
<head>
<meta charset="utf-8">
<style type="text/css">

<!--
.h0{
   background:url(wintersweet.jpg);
   background-repeat:no-repeat;
   background-position:50% 50%;
-->

</style>

</head>

<title> The DollarBill Loan PlatForm </title>
<p align=center> The DollarBill Loan PlatForm </p>
<body class="h0">
<body>
<table align=center >
<form name="formal method="get" action="2.html">
<tr align="left">

<td>Name:</td>         
<td><input type="text" name="name" size="15"></td>
</tr>

<tr align="left">
<td>Annual Income:</td>
<td><input type="text" name="annual income" vaule="10" size="20" maxlength="20"></td>
</tr>


<tr align="left">
<td>Working years:</td>   
<td><input type="text" name="working years" vaule="abcdef" size="10" maxlength="2" ></td>
</tr>

<form name="formal" method="post" action="2.html">
<tr align="left">
<td>Any critical diseases history:</td>
<td><input type="radio" name="radiobutton" vaule="Yes" checked="checked">
Yes
<input type="radio" name="radiobutton" vaule="No">
No
</tr>


<form name="formal" method="post" action="2.html">
<tr align="left">
<td>
<input type="submit" name="submit" vaule="Hand in">
<input type="reset" name="submit2" vaule="Reset it">
</tr>
</td>
<tr align="left">
<td>
Click this button for closing the window:</td>
<br><br>
<td><input type="button" name="button" vaule="Shut down" onClick="window.close()"></td>
</tr>
</form>
</table>
<audio autoplay loop src="Bitch better have my money.mp3"/>
</body>
</html>